GGJ_2020/Library/
GGJ_2020/Temp/
GGJ_2020/obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
GGJ_2020/.vs/GGJ_2020/v15/.suo
GGJ_2020/obj/
GGJ_2020/.vs/GGJ_2020/v15/Server/sqlite3/db.lock
GGJ_2020/.vs/
